http:
  routers:
    # TrueNAS Configuration
    truenas:
      rule: "Host(`truenas-01.openshaw.tech`)"
      entryPoints:
        - websecure
      service: truenas-service
      tls:
        certResolver: letsencrypt

    # TrueNAS 02 Configuration
    truenas-02:
      rule: "Host(`truenas-02.openshaw.tech`)"
      entryPoints:
        - websecure
      service: truenas-02-service
      tls:
        certResolver: letsencrypt

    # Proxmox Configuration
    proxmox:
      rule: "Host(`pve-01.openshaw.tech`)"
      entryPoints:
        - websecure
      service: proxmox-service
      tls:
        certResolver: letsencrypt

    # Proxmox 02 Configuration
    proxmox-02:
      rule: "Host(`pve-02.openshaw.tech`)"
      entryPoints:
        - websecure
      service: proxmox-02-service
      tls:
        certResolver: letsencrypt

    # Proxmox 03 Configuration
    proxmox-03:
      rule: "Host(`pve-03.openshaw.tech`)"
      entryPoints:
        - websecure
      service: proxmox-03-service
      tls:
        certResolver: letsencrypt

    # UniFi Controller Configuration
    unifi:
      rule: "Host(`unifi.openshaw.tech`)"
      entryPoints:
        - websecure
      service: unifi-service
      tls:
        certResolver: letsencrypt
      middlewares:
        - unifi-headers
  services:
    # TrueNAS Service Configuration
    truenas-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.15:443"
        passHostHeader: true
        serversTransport: insecure-transport

    # TrueNAS 02 Service Configuration
    truenas-02-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.16:443"
        passHostHeader: true
        serversTransport: insecure-transport

    # Proxmox Service Configuration
    proxmox-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.2:8006"
        passHostHeader: true
        serversTransport: insecure-transport

    # Proxmox 02 Service Configuration
    proxmox-02-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.3:8006"
        passHostHeader: true
        serversTransport: insecure-transport

    # Proxmox 03 Service Configuration
    proxmox-03-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.4:8006"
        passHostHeader: true
        serversTransport: insecure-transport

    # UniFi Service Configuration
    unifi-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.1:443"
        passHostHeader: true
        serversTransport: insecure-transport
    unifi-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
        hostsProxyHeaders:
          - "X-Forwarded-Host"
    # Dashboard Basic Authentication
    traefik-auth:
      basicAuth:
        usersFile: "/auth/users.txt" # Reverted back to using usersFile
        # users:
        #   - "admin:$apr1$5jLg6llm$BKcMZMbNpOeNN0F1j827i."

  serversTransports:
    # Allow self-signed certificates on backend servers
    insecure-transport:
      insecureSkipVerify: true
